<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SBNG4SJLZ5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);} 
  gtag('js', new Date());
  gtag('config', 'G-SBNG4SJLZ5');
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5822023555398041" crossorigin="anonymous"></script>

<style>
  .main { background: transparent !important; }
  .list { background: transparent !important; }
</style>

{{- with site.Params.backgroundLight }}
<style>
  html[data-theme="light"] body {
    {{- with .color }}background-color: {{ . }} !important;{{ end }}
    {{- with .image }}background-image: linear-gradient(rgba(255,255,255,0.99), rgba(255,255,255,0.7)), url('{{ . | absURL }}') !important;{{ end }}
    {{- with .position }}background-position: {{ . }} !important;{{ end }}
    {{- with .size }}background-size: {{ . }} !important;{{ end }}
    {{- with .repeat }}background-repeat: {{ . }} !important;{{ end }}
    {{- with .attachment }}background-attachment: {{ . }} !important;{{ end }}
  }
</style>
{{- end }}

{{- with site.Params.backgroundDark }}
<style>
  html[data-theme="dark"] body {
    {{- with .color }}background-color: {{ . }} !important;{{ end }}
    {{- with .image }}background-image: linear-gradient(rgba(0,0,0,0.99), rgba(0,0,0,0.7)), url('{{ . | absURL }}') !important;{{ end }}
    {{- with .position }}background-position: {{ . }} !important;{{ end }}
    {{- with .size }}background-size: {{ . }} !important;{{ end }}
    {{- with .repeat }}background-repeat: {{ . }} !important;{{ end }}
    {{- with .attachment }}background-attachment: {{ . }} !important;{{ end }}
  }
</style>
{{- end }}
